/* google font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
    /* font-family: "Raleway", serif; */
}

/* shared styles */
.mainTitle{
    font-size: 3.50rem;
    line-height: 3.81rem;
    font-weight: bold;
    color: black;
}

.subTitle{
    font-weight: bold;
    font-size: 2.88rem;
    line-height: 3.56rem;
    color: #000;
}

.p{
    font-size: 1.25rem;
}

.btn{
    border: none;
    border-radius: 12px;
    padding: 0.625rem 2.25rem;
    cursor: pointer;
    background: #000;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.25rem;
    transition: all .3s;
}

.btn:hover{
    background: #05D4DF;
    transform: scale(105%);
}

.cardTitle{
    font-weight: bold;
    font-size: 1.56rem;
    line-height: 1.94rem;
    color: #202020;
}

.cardText{
    font-size: 1.00rem;
    line-height: 1.75rem;
    font-weight: 500;
    color: #808080;
    font-family: "Raleway", serif;
}

.cardLink{
    color: #64C8FF;
    font-weight: bold;
    font-size: 1.00rem;
    line-height: 1.75rem;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

a{
    text-decoration: none;
    transition: all .5s;
    display: inline-block;
}
a:hover, a:focus{
    text-decoration: underline;
    transform: translateY(-3px);
}

li{
    list-style: none;
}

.orange{
    color: orange;
}

.skyBlue{
    color: #01acfd;
}

.skyGreen{
    color: #05D4DF;
}

.skyViolet{
    color: #5D58EF;
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logo img{
    width: 100%;
}
.logo h4{
    font-size: 2rem;
    line-height: 1.88rem;
    font-weight: bold;
    text-transform: uppercase;
}

.navLinks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.navLinks li a{
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.88rem;
}

.contact button{
    font-weight: 600;
    background: orange;
    color: white;
    transition: all .3s;
}

.menu{
    display: none;
}
.menu i{
    font-size: 2rem;
}

/* hero section styles */
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.heroLeft p{
    margin: 1.50rem 0;
}

.heroImg{
    animation: heroImg 3s infinite ease-in-out;
}

@keyframes heroImg {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* curriculum section styles */
.curriculumBg{
    text-align: center;
    padding: 3.75rem 0;
    background-image: url("../assets/bg.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.cards{
    margin-top: 3rem;
    display: flex;
    gap: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 367px;
    border: 1px solid #d8eff9;
    padding: 2.75rem;
    border-radius: 18.86px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-image: linear-gradient(#e0f3fa, #fff);
}

.card2{
    background-image: linear-gradient(#fbf2de, #fff);
    border: 1px solid #fbf2de;
}

.card3{
    background-image: linear-gradient(#ede2fb, #fff);
    border: 1px solid #ede2fb;
}

.card img{
    width: 70%;
    margin: 0 auto 0 auto;
    transition: all .5s;
    animation: cardAnimation 3s infinite;
}

@keyframes cardAnimation {
    0%,100%{
        transform: scale(100%);

    }
    50%{
        transform: scale(105%);
    }
}

.navigationMenu{
    margin-top: 4rem;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.navigationMenu i{
    font-size: 2rem;
    background-color: orange;
    color: white;
    padding: 15px 20px;
    font-weight: bold;
    border-radius: 100%;
    cursor: pointer;
    transition: all .5s;
}

.navigationMenu i:hover{
    background: #01acfd;
    transform: rotate(360deg);
}

/* stories section styles */
.storiesBg{

    background-image: linear-gradient(#fff, #f9e0b2);
}
.stories{
    text-align: center;
    padding: 3.75rem 0;
    background-image: url("../assets/bg.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.storiesCards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 3.75rem 0;
}

.storiesCard{
    width: 540.27px;
    border-radius: 16px;
    background: white;
    text-align: start;
    overflow: hidden;
}

.desc{
    padding: 30px;
    position: relative;
}

.desc>div{
    margin:30px 0;
}
.desc>button{
    border-radius: 48px;
    padding: 15px 25px;
    background: #13d3e0;
    position: absolute;
    top: -34px;
}

.storiesCard img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.storiesCardRight{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.storiesCardRight .storiesCard{
    width: 290px;
}

.small{
    font-size: 15.34px;
    line-height: 28.8px;
    margin: 0 !important;
}

.smallBtn{
    background: #95b226 !important;
    padding: 10px 20px !important;
    font-size: 15px;
    top: -24px !important;
}

.storiesRightSmall{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.storiesRightSmall .desc{
    padding: 26px;
}

.violetColor{
    background: #5d58f0 !important;
}

.storieImage:hover{
    transform: scale(105%);
}
.storieImage{
    transition: all .5s;
}

/* footer styles */
footer{
    background: #01acfd;
    color: white;
    padding: 100px 0;
}

.footerLogo{
    display: flex;
    align-items: center;
}

.footer{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.footerLeft{
    width: 33%;
}

.footerLogo>h4{
    font-size: 42.14px;
    font-weight: bold;
    line-height: 39.5px;
    margin-left: 10px;
}

.footerLeft p{
    margin-top: 35px;
}

.footerMiddle div, .footerRight div{
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.footerMiddle ul{
    flex-direction: column;
    gap: 20px;
    align-items: start;
    margin-top: 35px;
}

.footerMiddle ul li a{
    color: white;
}

.footerIcons{
    margin-top: 35px;
    display: flex;
    gap: 15px;
}

.footerIcons i{
    transition: all 1s;
}
.fb:hover i{
    display: inline-block;
    transform: rotate(360deg);
}
.db:hover i{
    display: inline-block;
    transform: rotate(360deg);
}
.tt:hover i{
    display: inline-block;
    transform: rotate(360deg);
}
.gg:hover i{
    display: inline-block;
    transform: rotate(360deg);
}
.fb{
    cursor: pointer;
    border-radius: 5px;
    padding: 9px 14px;
    background: #3b5998;
}
.fb:hover{
    background: black;
    color: #fff;
}
.db{
    cursor: pointer;
    border-radius: 5px;
    padding: 9px 14px;
    background: #ea4c89;
}
.db:hover{
    background: #000;
    color: #fff;
}
.tt{
    cursor: pointer;
    border-radius: 5px;
    padding: 9px 14px;
    background: #1da1f2;
}
.tt:hover{
    background: #000;
    color: #fff;
}
.gg{
    cursor: pointer;
    border-radius: 5px;
    padding: 9px 14px;
    background: #dd4b39;
}
.gg:hover{
    background: #000;
    color: #fff;
}










@media(max-width: 1200px) {
    .hero{
        margin-top: 3.13rem;
    }
    .heroLeft>h2{              
        font-size: 2.50rem;
        line-height: 2.81rem;
    }
    .heroRight>img{
        width: 100%;
    }
    .p{
        font-size: 1rem;
    }
    .storiesCards{
        flex-direction: column;
    }
}

@media(max-width: 992px) {
    .navLinks, .contact , .logo>h4{
        display: none;
    }
    .menu{
        display: block;
    }
    header{
        border-bottom: 1px solid #fea301;
    }
    .logo>img{
        width: 80%;
    }
    .hero{
        flex-direction: column-reverse;
        margin-top: 2rem;
    }
    .heroLeft{
        text-align: center;
        margin-top: 1rem;
    }
    .cards{
        flex-wrap: wrap;
    }
    .subTitle{
        font-size: 1.88rem;
    line-height: 2.56rem;
    }
    .navigationMenu{
        display: none;
    }
    .storiesCardLeft{
        display: none;
    }
    .footer{
        flex-direction: column;
        gap: 50px;
    }
    .show{
        display: block;
    }
    .footerIcons, footer p, footer ul{
        margin-top: 15px !important;
    }
    .footerLeft{
        width: 100%;
    }
    footer{
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }
}

@media (max-width:650px) {
    .storiesCard{
        width: 100% !important;
        height: auto;
    }
    .storiesCard img{
        width: 100% !important;
    }
    .storiesRightSmall{
        padding: 0 10px;
        gap: 10px;
    }
    .storiesCardRight{
        gap: 10px;
    }
    .desc button{
        font-size: 10px;
    }
    .desc{
        padding: 30px 10px !important;
    }
    .small{
        font-size: 12px;
        line-height: 20px;
    }
}


        /* For smaller screens (up to 576px) */
        @media (max-width: 576px) {
            .container {
                max-width: 100%;
            }
            .heroLeft>h2{
                font-size: 2rem;
                line-height: 2.31rem;
            }
        }

        /* For medium screens (576px to 768px) */
        @media (min-width: 576px) and (max-width: 768px) {
            .container {
                max-width: 540px;
            }
        }

        /* For larger screens (768px to 992px) */
        @media (min-width: 768px) and (max-width: 992px) {
            .container {
                max-width: 720px;
            }
        }


        /* For very large screens (992px to 1200px) */
        @media (min-width: 992px) and (max-width: 1200px) {
            .container {
                max-width: 960px;
            }
        }

        /* For very large screens (larger than 1200px) */
        @media (min-width: 1200px) {
            .container {
                max-width: 1140px;
            }
        }